<div class="ui raised segment">
    

    

    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form mt-3">
        <div class="field">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="exampleFormControlInput" [(ngModel)]="email" required email>
                <div *ngIf="myForm.controls['email']?.['touched'] && myForm.controls['email']?.['errors']" class="invalid">
                    <div *ngIf="myForm.controls['email']?.['errors']?.['required']">
                        Email is required
                    </div>
                    <div *ngIf="myForm.controls['email']?.['errors']?.['email']">
                        Email is invalid
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password"  [(ngModel)]="password" required minlength="4">
                <div *ngIf="myForm.controls['password']?.['touched'] && myForm.controls['password']?.['errors']" class="invalid">
                    <div *ngIf="myForm.controls['password']?.['errors']?.['required']">
                        password is required
                    </div>
                    <div *ngIf="myForm.controls['password']?.['errors']?.['minlength']">
                        Minimum length is 4 Character
                    </div>
                </div>
              </div>
              <div *ngIf="!myForm.valid"
               style="color: red;" class="form_error">
               Form is Invalid

               </div>
                        
              <button type="submit" class="btn btn-primary" >Log In</button>
        </div>
        
    </form>

</div>


