<div class="container">
<div class="row">
    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <p class="card-title">{{user.first_name}}</p>
          <p class="card-text">{{user.last_name}}</p>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.password}}</p>
          <p class="card-text">{{user.mobile}}</p>
          <p class="card-text">{{user.dob}}</p>
          <p class="card-text">{{user.address.house_No}}</p>
          <p class="card-text">{{user.address.street}}</p>
          <p class="card-text">{{user.address.area}}</p>
          <p class="card-text">{{user.address.city}}</p>
          <p class="card-text">{{user.address.country}}</p>
          <p class="card-text">{{user.address.pincode}}</p>
          
        </div>
      </div>

</div>
</div>
