<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button><br>

<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="saveFirstStepData(firstFormGroup)" [class.error]="!firstFormGroup.valid && firstFormGroup.touched">
      <ng-template matStepLabel>Fill out Restaurant Details</ng-template>
      <mat-form-field>
        <mat-label>Restaurant Owner Id</mat-label>
        <input matInput placeholder="Restaurant Owner Name" formControlName="r_owner_id" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Restaurant Name" formControlName="r_Name" required>
        
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="image path" formControlName="r_Img_Path" required>
      </mat-form-field>
      <div *ngIf="!firstFormGroup.valid"
               style="color: red;" class="form_error">
               Form is Invalid

               </div>
      <div>
        <button mat-button matStepperNext type="submit"  >Save</button>
      </div>
      <div>
        <button mat-button matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" *ngIf="firstform == true">
    <form [formGroup]="addressForm" (ngSubmit)="saveSecondStepData(addressForm.value)" [class.error]="!secondFormGroup.valid && secondFormGroup.touched">
      <ng-template matStepLabel>Fill out your address</ng-template>
      
        <div formArrayName="form_array_addresses">
            <div class="row" *ngFor="let restaurant  of form_array_addresses().controls; let i = index" [formGroupName]="i">

                <!-- <mat-form-field class="col-4">
                    <input matInput formControlName="id" placeholder="Address Id">
                </mat-form-field> -->
                <mat-form-field class="col-4">
                    <input matInput formControlName="house_No" placeholder="House number" required>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="street" placeholder="Street" required>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="area" placeholder="Area" required>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="city" placeholder="City" required>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="country" placeholder="Country" required>
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="pincode" placeholder="Pincode" required>
                </mat-form-field>
                <!-- <div *ngIf="!secondFormGroup.valid"
               style="color: red;" class="form_error">
               Form is Invalid

               </div> -->

                <div class="col-3">
                    <button class="float-left" mat-fab-button color="primary" aria-label="Remove/clear"
                        (click)="removeOrClearAddress(i)" matTooltip="Remove">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                    <button class="float-left mx-2" mat-fab-button color="primary" aria-label="Add"
                            (click)="addAddressFormGroup()" matTooltip="Add">
                            <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
    </mat-form-field> -->
    <div>
        <button mat-raised-button matStepperNext type="submit" class="my-2">Save</button>
    </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step [stepControl]="thirdFormGroup" *ngIf="secondform == true"> 
    <form [formGroup]="dishForm" (ngSubmit)="saveThirdStepData(dishForm.value)">
      <ng-template matStepLabel>Add Dishes</ng-template>
      
        <div formArrayName="form_array_dishes">
            <div class="row" *ngFor="let restaurant  of form_array_dishes().controls; let i = index" [formGroupName]="i">

                <!-- <mat-form-field class="col-4">
                    <input matInput formControlName="id" placeholder="Address Id">
                </mat-form-field> -->
                <mat-form-field class="col-4">
                    <input matInput formControlName="res_Id" placeholder="Restaurant Id">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="d_Name" placeholder="Dish Name">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="d_Description" placeholder="Dish Description">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="d_Price" placeholder="Price">
                </mat-form-field>
                <mat-form-field class="col-4">
                    <input matInput formControlName="d_Veg" placeholder="Veg">
                </mat-form-field>
                <mat-form-field class="col-4">
                  <input matInput formControlName="available" placeholder="">
              </mat-form-field>
                
                
                <div >
                    <button class="float-left" mat-fab-button color="primary" aria-label="Remove/clear"
                        (click)="removeOrClearDish(i)" matTooltip="Remove">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                    <button class="float-left mx-2" mat-fab-button color="primary" aria-label="Add"
                            (click)="addDishFormGroup()" matTooltip="Add">
                            <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
    </mat-form-field> -->
    <div>
        <button mat-raised-button matStepperNext type="submit" class="my-2">Save</button>
    </div>
      <div >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="thirdform == true">
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

