<mat-tab-group>
    <mat-tab label="Users">
        <mat-tab-group>    
        <mat-tab label="viewuser"><app-usersview></app-usersview> </mat-tab>
        <mat-tab label="adduser"><app-add-user></app-add-user></mat-tab>
        <mat-tab label="UpdateUser"><app-user-update></app-user-update></mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Restaurants">
        <mat-tab-group>    
            <mat-tab label="viewRestaurants"><app-view-restaurants></app-view-restaurants> </mat-tab>
            <mat-tab label="AddRestaurants"><app-add-restaurants></app-add-restaurants></mat-tab>
            <mat-tab label="UpdateRestaurants"><app-update-restaurants></app-update-restaurants></mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Orders">
        <mat-tab-group>    
            <mat-tab label="viewOrders"><app-view-orders></app-view-orders> </mat-tab>
            <mat-tab label="AddOrders"><app-add-orders></app-add-orders></mat-tab>
            <mat-tab label="UpdateOrders"><app-update-orders></app-update-orders></mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
  
