<!-- <div class="row">
    <h1>User</h1>
</div>
<div class="row"> -->
    <!-- <h3>Placeholder for list of Restaurants</h3><br>
    
    <div *ngFor="let r of arrRestaurants;let i=index" class="col"> -->
        <!-- <app-restaurants [restaurant]="r"></app-restaurants><br> -->
        <!-- <div *ngFor="let details of arrRestaurants[i]">
            {{details}}
            
            <br>
        </div> -->
        <!-- <app-usersview [users]="arrUsers">hello</app-usersview> -->
        
    <!-- </div> -->
<!-- </div> -->
<!-- x -->
<!-- <app-demo-reactive-form></app-demo-reactive-form> -->
<!-- <app-custom-validation></app-custom-validation> -->

<router-outlet></router-outlet>