body{
    background-color:blanchedalmond;
 }
 .px-4{
     
    background-repeat: no-repeat;
    background-size: cover;
    color:black;

 }
 .row{
    background-image: src;
 }
 .modal-content{
    color: black;
 }